* {
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.square {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: gray;
  box-shadow: 0 0 2px black;
}
